@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
      <div class="d-flex justify-content-around">
          <div class="w-30">
              <div class="pt-5 pb-5 w-100 display-6 d-flex justify-content-center">Calculator</div>
               @*input field section *@
              <div class="border p-5 w-100">
                    <div class="col-12 w-100">
                        <form class="form">
                            <input class=" form-control input-lg shadow-none" />
                        </form>
                    </div>
                    @*Upper row buttons*@
                    <div class="col-12">
                    <div class="pt-3 w-100">
                        <div class="button-group  d-flex justify-content-between w-100 m-0">
                            <button class="btn btn-secondary shadow-none" style="width:22%">C</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">()</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">%</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">/</button>
                            </div>
                        </div>

                    </div>
                    @*Second row buttons*@
                    <div class="col-12">
                    <div class="pt-3 w-100">
                        <div class="button-group  d-flex justify-content-between w-100 m-0">
                            <button class="btn btn-secondary shadow-none" style="width:22%">7</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">8</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">9</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">*</button>
                            </div>
                        </div>

                    </div>
                    @*Third row buttons*@
                    <div class="col-12">
                    <div class="pt-3 w-100">
                        <div class="button-group  d-flex justify-content-between w-100 m-0">
                            <button class="btn btn-secondary shadow-none" style="width:22%">4</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">5</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">6</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">-</button>
                            </div>
                        </div>

                    </div>
                    @*Fourth row buttons*@
                    <div class="col-12">
                    <div class="pt-3 w-100">
                        <div class="button-group  d-flex justify-content-between w-100 m-0">
                            <button class="btn btn-secondary shadow-none" style="width:22%">1</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">2</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">3</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">+</button>
                            </div>
                        </div>

                    </div>
                    @*Fifth row buttons*@
                    <div class="col-12">
                    <div class="pt-3 w-100">
                        <div class="button-group  d-flex justify-content-between w-100 m-0">
                            <button class="btn btn-secondary shadow-none" style="width:22%">0</button>
                            <button class="btn btn-secondary shadow-none" style="width:22%">.</button>
                            <button class="btn btn-primary shadow-none" style="width:44%">=</button>
                            </div>
                        </div>

                    </div>
              </div>
              @*Buttons group*@
              
          </div>
        
    </div>
</div>

